<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="tech">NewsBC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href=" ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="tech">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="intertain">TechNews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="science">Science</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="general">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="sports">Sports</a>
        </li>
        
        
      </ul>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>

<p class="text-center" style="font-weight:bold">Contact us  (email:sibajit1176.be20@chitkarauniversity.edu.in /Ph:9933702145)</p>
</footer>
